<html>
    <head>
<title>add bookmark</title>
</head>

<body>
    <center>
        <h3>add a bookmark</h3>
    <form action="/addbm" method="POST">
        <table width="300" height="70" border="0">
            <tr>
                <td>Label</td>
                <td><input type='text' name='label'/></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type='text' name='address'/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type='submit' value='add'/></td>
            </tr>
            </form>
    </center>
</body>
<html>
