<html>
    <head>
        <title>login</title>
    </head>
    <body>
        <center>
        <form action="/login" method="POST"> <p><h3>Enter userID</h3>
            <table width="300" height="70" border="0">
            <tr>
                <td>user id</td>
                <td><input type='text' name='nm'/></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type='password' name='pw'/></td>
            </tr>
            <tr><td><a href='register'>Register</a></td>
                <td><input type='submit' value='Login'/></td>
            </tr>
        </form>
        </center>
    </body>
</html>

